.dashboard {
    padding: 5px;
}

.MainLayout {
  height: 100%;
  padding-top: 44px;
  background: transparent;
}

html, body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
